@charset "UTF-8";
body {
  background-color: black;
  font-family: 'Poppins';
}

.wizard-progress {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  position: relative;
  font-size: 12px;
  color: #5e5873;
  font-weight: bold;
}
.wizard-progress .step:not(:last-child):before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  /* top: 37px; */
  bottom: 81px;
  background-color: #d1d1d1;
  height: 6px;
  width: 100%;
  margin-top: 25px;
}
.wizard-progress .step .node {
  padding-top: 1px;
  display: inline-block;
  border: 6px solid #d1d1d1;
  background-color: #fff;
  border-radius: 18px;
  height: 28px;
  width: 28px;
  position: absolute;
  /* top: 50px; */
  bottom: 70px;
  left: 53%;
  margin-left: -18px;
}
.wizard-progress .step.complete:before {
  background-color: #76A8D8;
  margin-top: 25px;
}
.wizard-progress .step.complete .node {
  border-color: #76A8D8;
  background-color: #76A8D8;
}
.wizard-progress .step.complete .node:before {
	content: "\f00c";
	font-family: "FontAwesome";
	color: white;
}
.wizard-progress .step.rejected .node:before {
	content: "\f00d";
	font-family: "FontAwesome";
	color: white;
}
.wizard-progress .step.in-progress .node {
  border-color: #76A8D8;
  box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
}
.wizard-progress .step.rejected .node {
  border-color: red;
  background-color: red;
  box-shadow: 0 0 10px 1px rgb(240 103 103 / 70%);
}